# IMPORTANT: Do not commit the '.env' file, make sure it is included on your .gitignore
MYSQL_ROOT_PASSWORD=<YOUR-SECURE-PASSWORD-HERE>
MYSQL_USER=<YOUR-USER-HERE>
MYSQL_PASSWORD=<YOUR-SECURE-PASSWORD-HERE>